@model WebApplicationProject.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    @{
        if (Model.Image != null)
        {
            var base64 = Convert.ToBase64String(Model.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <img src="@imgSrc" class="post-header-img" />
        }
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

    </dl>
    <button id="btn-addCom" class="btn btn-warning">
        Add Comment
    </button>
    <div class="form-horizontal">
        Comments:
        @foreach (var comment in Model.Comments)
        {
            <div class="form-group">
                <p>@comment.Message</p>
                <p>Posted by: @comment.User.UserName</p>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#btn-addCom').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("AddComment")',
                    data: {
                        newsId : '@Model.ID',
                    },
                    success: function(result){
                        $('#dialogContent').html(result);
                        $('#Dialog').modal('show');
                    }
                });
            });
        })
    </script>
}

