@model WebApplicationProject.Models.NewsViewModel
@using WebApplicationProject.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Index</h2>
@if (User.IsInRole("admin")) { 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Posts[0].header);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts[0].info)
        </th>
        <th></th>
    </tr>*@
<div class="post__left-column">
    @for (int i = 0; i < Model.Posts.Count; i++)
    {
        <div class="post-item">
            <div class="post__title">
                @Html.ActionLink(Model.Posts[i].header, "Details", new { id = Model.Posts[i].ID})
            </div>
            <div class="post__text">
                @Html.DisplayFor(Model => Model.CreatedByNames[i])

                @Html.DisplayFor(modelItem => Model.Posts[i].info)
               
                @if (User.IsInRole("admin"))
                {
                <div class="post__action-list">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Posts[i].ID }) |
                    @Html.ActionLink("Details", "Details", new { id = Model.Posts[i].ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Posts[i].ID })
                </div>
                }
            </div>
        </div>
    }

</div>
<div class="pagination-lg">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>