@model WebApplicationProject.Models.NewsViewModel
@using WebApplicationProject.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Posts[0].header);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts[0].info)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Posts.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.Posts[i].header)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.CreatedByNames[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Posts[i].info)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Posts[i].ID }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Posts[i].ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Posts[i].ID })
            </td>
        </tr>
    }

</table>

<div class="pagination-lg">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>